body, HTML {
  height: 100%;
}

body {
  font-family: cursive;
  text-align: center;
  background: #1b4378;
  color: #ffffff;
}

ol {
  text-align: left;
  margin: auto;
}

h1 {
  margin: auto;
  padding: 15px;
  background: #c14612;
}

a {
  color: orange;
  font-weight: 1000;
}

footer {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
  padding: 20px 0;
}

div {
  padding: 15px;
  background: white;
  color: black;
  margin: 20px auto;
  width: 500px;
}

body {
  margin: 0;
}

.fancy_box {
  border: 2px solid black;
  box-shadow: 9px 5px 6px 5px rgba(0, 0, 0, 0.5);
}
